.Container {
  z-index: 2;
  position: absolute;
  top: 65px;
  left: 30px;
  background-color: #fff;
  width: 200px;
  height: 100px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  font-family: sans-serif;
}

.TipTriangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid red;
}
